{
	email {$CADDY_EMAIL}
	admin off
}

{$CRIA_HOST} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	reverse_proxy web:80 {
		flush_interval -1
	}

	log {
		output stdout
		format json
	}
}
